<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IRIS PROJECT BY RAKSHITA</title>
    <style>
      body {
           background-color:#fff5;
           background-image: url('https://cdn.glitch.global/aa334add-fe30-4302-90e9-60c5f9228920/aiml4.jpeg?v=1720102225661');
           background-size: cover;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-position: center;
           fliter:blur(10px);
          } 
    </style>
</head>
  
  <body>
    
    <h1 align="center" style="color:white;">
      <u>IRIS-FLOWER PREDICTOR MODEL</u>
    </h1>
    <br>
    <br>
    <center>
    <img src="https://cdn.glitch.global/aa334add-fe30-4302-90e9-60c5f9228920/aiml1.jpeg?v=1720081156382">
    <br>
    <br>  
    <a href="project">
    <h3 style="color:white;">
      CLICK TO VIEW THE PROJECT
       </h3>
      </a>
    </center>
   
  </body>
</html>
